.quantity-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity-selector button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

.quantity-selector input {
  width: 30px;
  height: 18px;
  text-align: center;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
