@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lrq1ho');
  src:  url('fonts/icomoon.eot?lrq1ho#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lrq1ho') format('truetype'),
    url('fonts/icomoon.woff?lrq1ho') format('woff'),
    url('fonts/icomoon.svg?lrq1ho#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group-286:before {
  content: "\e900";
}
.icon-Group-287:before {
  content: "\e901";
}
.icon-Group-288:before {
  content: "\e902";
}
.icon-Group-289:before {
  content: "\e903";
}
.icon-Group-290:before {
  content: "\e904";
}
.icon-Group-297:before {
  content: "\e905";
}
.icon-Group-297-1:before {
  content: "\e906";
}
.icon-Group-481-3:before {
  content: "\e90c";
}
.icon-Group-538:before {
  content: "\e90d";
}
.icon-Rectangle540:before {
  content: "\e90e";
}
.icon-Group481:before {
  content: "\e90f";
}
.icon-sliders:before {
  content: "\e910";
}
.icon-close-2:before {
  content: "\e911";
}
.icon-shopping-cart:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e913";
}
.icon-Icon-material-close:before {
  content: "\e914";
}
.icon-icono-chevron:before {
  content: "\e915";
}
.icon-buscar:before {
  content: "\e916";
}
.icon-login:before {
  content: "\e917";
}
.icon-Icon-ionic-ios-pin:before {
  content: "\e918";
}
.icon-chevron-left:before {
  content: "\e919";
}
.icon-chevron-right:before {
  content: "\e91a";
}
.icon-Group-619:before {
  content: "\e91b";
}
.icon-Icon-ionic-ios-checkmark-circle-outline:before {
  content: "\e91c";
}
