.thumbnail {
  width     : 100%;
  max-height: 60px;
  object-fit: cover;
  cursor    : pointer;
  transition: border-color 0.2s ease;
}


.container-img-thumbnail {
  border: 1.5px solid transparent;
}

.container-img-thumbnail.active {
  border-color: black;
}

.thumbnail:hover {
  border-color: gray;
}

.main-image {
  width        : 100%;
  max-height   : 500px;
  object-fit   : cover;
  border-radius: 8px;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

@media (max-width: 768px) {
  .desktop-gallery {
    display: none;
  }

  .main-slider.mobile {
    display: block;
  }
}

@media (min-width: 769px) {
  .main-slider.mobile {
    display: none;
  }

  .desktop-gallery {
    display: flex;
    gap    : 20px;
  }

  .thumbnail-slider-container {
    width   : 80px;
    overflow: hidden;
  }

  .main-slider.desktop {
    width: 400px;
  }
}

.gallery-container .slick-arrow::before {
  color: grey;
}

.gallery-container .slick-arrow.slick-prev {
  left: 0;
}

.gallery-container .slick-arrow.slick-next {
  right: 0;
}

.container-img-thumbnail,
.container-img {
  background: #e3e3e3
}

.container-img-thumbnail {
  max-width: 60px;
}

.container-img-thumbnail .thumbnail,
.container-img .main-image {
  mix-blend-mode: multiply;
}

.thumbnail-slider-container .slick-track,
.thumbnail-slider-container .slick-track .slick-slide{
  width: 60px!important;
}