.product-page {
  max-width: 1250px;
  margin   : 0 auto;
  padding-top: 10px;
}

.product-container {
  display       : flex;
  flex-direction: column;
  gap           : 30px;
}

.product-info{
  padding-inline: 16px;
}



.product-image {
  flex           : 1;
  display        : flex;
  justify-content: center;
}

.product-image img {
  max-width    : 100%;
  border-radius: 8px;
}



.sku-selector .field {
  margin-bottom: 20px;
}

.sku-selector label {
  display      : block;
  margin-bottom: 5px;
  font-weight  : 600;
}

.sku-selector select {
  width    : 100%;
  padding  : 8px;
  font-size: 16px;
}
.brand {
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}


.content-price-discount{
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 8px;
}

.content-price-discount .price{
  margin: 0;
  font-size: 16px;
}

.discount-badge{
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  background: #7a0e0e;
}

.referenceId{
  font-size: 16px;
}


@media (min-width: 768px) {
  .product-container {
    flex-direction: row;
  }

  .gallery-container{
    padding-left: 16px;
  }

  .product-info {
    width: 65%;
  }
}